<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">グループ作成フォーム</h5>
      <div class="p-3">
        <%= render 'form', group: @group %>
      </div>
    </div>
  </div>
</div>