<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>


<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
      <div class="p-3">
        <%= render 'public/posts/form', post: @post %>
      </div>
    </div>
  </div>
</div>