<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h1 class="text-dark bg-light p-4 mb-0">Album Summarize Site</h1>
      

      <img class="blog-image img-fluid mx-auto" src="<%= asset_path('italy.jpg') %>">

    
    </div>
  </div>
</div>
