<% if user_signed_in? %>
  <p>email : <%= current_user.email %></p>
  <p>family_code : <%= current_user.family_code %></p>
<% end %>

<h1>Aboutページです。</h1>

<h1>サイトテーマ</h1>
<h3>家族写真や子供たちの作った成果物をまとめられるようなコミュニティサイト​</h3>

<h1>テーマを選んだ理由</h1>
<h3>子育てが自分や家族の器を広げてくれるという意識が強いの で、子育てをテーマに選びたくて、忙しい中なかなか写真を現像して飾る手間も惜しくて、それに、成果物を取って置くスペースもなくて、ネット内で完結出来たらいいなと思い、家族が見やすくて、後で子供たちも嬉しくなるようなサイトを作りたいと思い、このポートフォリオを作成してみようと考えました。​​</h3>

<h1>ターゲットユーザ</h1>
<h3>子育て中の家族
家族の思い出をよりよくまとめたいと考えている人
成果物を処分しづらいけど処分したい人​</h3>
​

<h1>主な利用シーン</h1>
<h3>家族写真や子供たちの作った成果物を整理整頓したい時
家族写真を撮った時
子供たちが成果物を持って帰ってきた時​</h3>